

.navli{
    background-color: white;
    color: black;
}
.navli:hover{
    background-color: black;
    color: white;
}

.navbtn{
    background: rgb(253, 134, 213);
    color: black;
}
.card.firstCard {
  background: rgb(99, 99, 233) !important;
}
.card.thirdCard{
    background: rgb(2, 165, 2);
}
body{
    background: rgb(253, 246, 247);
}